
<h2>PregledTerapija</h2>
<body>
    @if(ViewBag.termini != null)
            {
               <table border="1">
                   <thead>
                       <tr>
                           <th>Lekar:</th>
                           <th>Datum i Vreme termina</th>
                           <th>Pregled terapije</th>
                       </tr>
                   </thead>
                   <tbody>
                       @foreach (var termin in ViewBag.termini)
                       {
                           <tr>
                               <td>@termin.kImeLekara</td>
                               <td>@termin.DatumIVremeZakazanogTermina.ToString("dd/MM/yyyy HH:mm")</td>
                               <td>
                                   <a href="@Url.Action("Terapija", "Pacijent", new { terapija = termin.OpisTerapije })">Pregled terapije</a>
                               </td>
                           </tr>
                       }
                   </tbody>
               </table>
     }
    <form action="~/Pacijent/Index" method="get">
        <input type="submit" value="Nazad" />
    </form>
</body>