
<h2>PregledTerapija</h2>

@if(ViewBag.terapija != null)
            {
                <p>@ViewBag.terapija</p>
            }
<form action="/Lekar/Index" method="get">
    <input type="submit" value="Nazad" />
</form>